</main>
<footer>
    <div class="footer-content">
        <p>&copy; 2024 Sendufy. Todos los derechos reservados.</p>
        <p><a href="#privacy-policy">Política de Privacidad</a> | <a href="#terms-of-service">Términos de Servicio</a></p>
    </div>

</footer>
<script src="index.js" charset="UTF-8"></script>

</body>

</html>