<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/blog.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
        <title>Sendufy</title>
    </head>
    <header>
      <div class="header-logo">
        <h1>Sendufy</h1>
    </div>
    <nav class="navbar">
        <a href="#home">Inicio</a>
        <a href="#brands">Marcas</a>
        <a href="#services">Servicios</a>
        <a href="#prices">Precios</a>
        <a href="#contact">Contacto</a>
        <a href="#profile">Perfil</a>
        <button id="cartBtn" class="nav-btn">Carrito</button> <!-- Nuevo botón de carrito -->
        <button id="loginBtn" class="nav-btn">Login</button>
        <button id="signupBtn" class="nav-btn">Signup</button>
    </nav>
      </header>
      <div class="banner">
        <p>Compra directamente en las tiendas que quieras y solo pagas tarifas de envío</p>
    </div>
<main class="container">