<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <title>Sendufy</title>
    </head>
    <header>
        <nav class="navbar navbar-expand-custom navbar-mainbg">
          <a class="navbar-brand navbar-logo" href="#">Sendufy.com</a>
          
         
        </nav>
      </header>
<main>