
<%- include("partials/header.ejs") %>
<h1>Deja tu comentario</h1>

<form class="contact-form">
  <div class="field">
      <label class="campo__label" for="nombre">Nombre</label>
      <input class="campo__field" type="text" placeholder="Tu Nombre" id="nombre">
  </div>
  <div class="field">
      <label class="campo__label" for="email">E-mail</label>
      <input class="campo__field"type="email" placeholder="Tu E-mail" id="email">
  </div>
  <div class="field">
      <label class="campo__label" for="mensaje">Mensaje</label>
      <textarea class="campo__field campo__field--textarea"id="mensaje"></textarea>
  </div>

  <div class="field">
      <input type="submit" value="Enviar" class="boton boton--primario">
  </div>
</form>

<%- include("partials/footer.ejs") %>