body {
    text-align: center;
    background-color: whitesmoke;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
  }
  
main{
  width: 70%;
  margin-left: 15%;
}

.texts {
  text-align: justify;
}


/*----------bootstrap-navbar-css------------*/
nav {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  background-color: coral;
  padding: 2.5rem 1.5rem;
}
.nav-link, .nav-logo{
  color: aliceblue;
}



.country{
    height: 30px;
    border-radius: 10%;
    margin: 0%
}

footer {
    width: 100%;
    background: coral;
    color: white;
    padding: 2.5rem 1.5rem;
  }

  /** Contacto **/

.error {
  background-color: rgb(185, 0, 0);
  text-align: center;
  padding: 1rem;
  color: var(--blanco);
  text-transform: uppercase;
}
.correcto {
  background-color: rgb(74, 185, 0);
  text-align: center;
  padding: 1rem;
  color: var(--blanco);
  text-transform: uppercase;
}


.contact-form {
  /* background-color: var(--blanco); */
  margin: -5rem auto 0 auto;
  width: 50%;
  padding: 5rem;
}
.field {
  display: flex;
  margin-bottom: 2rem;
}
.campo__label {
  flex: 0 0 9rem;
  text-align: right;
  padding-right: 2rem;
}
.campo__field {
  flex: 1;
  border: 1px solid var(--gris);
}
.campo__field--textarea {
  height: 10rem;
}

.entrada {
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}